
.dialog {
  width: 30%;
  text-align: center;

  .form {
    padding: 20px;
    background: #FFF;
    margin: 20px;
    width: 100%;
    text-align: left;

  }
}

.form-item-select {
  width: 100%
}

.success-dialog {
  width: 15%;
}