.project-container{
    background-color: rgb(255, 255, 255);
    min-height: 600px;
}

.div-project{
    background: #f7f8fa;
    position: relative;
    padding-top: 50px;
}

.loading-project-md{
    width:100%;
    min-height: 300px;
}

.div-project-md{
    width:100%;
    padding: 15px;
}

.btn-project img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}



.btn-project{
    text-align: center;
    position: absolute;
    border: 1px solid #dce0e5;
    border-radius: 1px;
    background-color: #f0f2f5
}


.btn-project:hover{
    background-color: #d1d1d1;
}

.btn-project-visibility{
    top:8px;
    left: 8px;
    height: 45px;
    width:95px;
}

.btn-project-edit{
    top:8px;
    right: 8px;
    height: 45px;
    width: 50px;
    padding-left: 12px;
}

.btn-project-star{
    left: 15px;
    height: 45px;
    width: 60px;
}

.btn-project-fork{
    left: 75px;
    height: 45px;
    width: 60px;
    border-left:none;
}

.btn-project-ssh{
    left: 150px;
    height: 45px;
    width: 80px;
}

.btn-project-http{
    left: 230px;
    height: 45px;
    width: 100px;
    border-left:none;
}



.input-project-url{
    /*font-size: 17px;*/
    /*font-weight: normal;*/
    padding:5px 15px;
    position: absolute;
    left: 330px;
    height: 45px;
    width: 300px;
    border-left: none;
    border-right: none;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    color:#515151
}

.btn-project-copy{
    left:630px;
    height: 45px;
    width:50px;
}

.btn-project-download{
    padding-left: 12px;
    left:705px;
    height: 45px;
    width:50px;
}

.div-project-avatar{
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    height: 90px;
    width: 90px;
    margin: 0 auto 0 auto;
    background-color: #E0F2F1;
    color: #555;
    border-radius: 50%;

}

.div-project-intro{
    padding:0 100px;
}


.text-project-title{
    text-align: center;
    font-size: 20px;
}
.text-project-description{
    text-align: center;
    color: #7a7a7a;
}


.div-project-1{
    position: relative;
    top:15px;
    left:200px;
}

.div-project-2{
    margin-top: 115px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    line-height: 60px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.div-project-2 span{
    display: inline-block;
    width:120px
}

.div-project-md div {
    position: fixed;
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
}

.div-project-md pre {
    border: 1px solid #ccc;
}

.div-project-md blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

.div-project-md tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

.div-project-md th{
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.div-project-md td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.div-project-md table tr:nth-child(2n) {
    background: #f6f8fa;
}
