.ssh-container{
    background-color: rgb(255, 255, 255);
    position: relative;
    min-height: 600px;
}

.div-ssh-top{
    height: 80px;
    padding-left: 20px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.text-ssh-intro{
    color: #7f8fa4;
}

.text-ssh-help{
    margin-left: 5px ;
    color: black;
}

.btn-ssh-add{
    position: absolute;
    background-color: #31af64;
    border-color: #2faa60;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 2px;
    font-size: 13px;
    float: right;
    top:20px;
    right: 20px;

}

.btn-ssh-delete{
    color: white;
    background-color: #e52c5a;
    border-color: #e52c5a;
    width: 50px;
    height: 25px;
    border-radius: 2px;
    font-size: 13px;
}

.table-ssh-list{
    width: 100%;
}

.row-ssh-head{
    width: 100%;
}

.table-ssh-list th{
    text-align: left;
}


.tr-ssh-head{
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
}

.tr-ssh-body{
    height: 50px;
    border-bottom: 1px solid #f3f3f3;
}

.th-ssh-title{
    width: 25%;
    padding-left: 20px;
}

.th-ssh-content{
    width: 50%;
}

.th-ssh-time{
    width: 15%;
}


.th-ssh-operation{
    width: 10%;
}

.td-ssh-title{
    width: 25%;
    padding-left: 20px;
    font-weight: bold;
}

.td-ssh-content{
    width: 50%;
}

.div-ssh-content{
    width: 550px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    overflow-x:scroll;
}

.td-ssh-time{
    color: #7f8fa4;
}

.td-ssh-operation{
    text-align: center;
}
