.pipeline-info-body{
  margin:0 5px;
  background: white;
  overflow: hidden;
  height: 1000px;
  .form-body{
    margin-left: 80px;
    padding: 100px 0 0;
    .form-item{
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .form-item-label{
        width: 90px;
        margin-right: 10px;
        display: inline-block;
        text-align: right;
      }
      .combobox{
        width: 200px;
      }
      .form-item-error{
        margin-left: 10px
      }
    }
    .step-wrapper{
      margin-bottom: 20px;
      .label{
        width: 90px;
        margin-right: 10px;
        display: inline-block;
        text-align: right;
      }
      .pipeline-info-step{
        margin-left: 90px;
        margin-top: 30px;
        .pipeline-info-stepItem{
          max-width: 100px;
        }
      }

    }
  }
  .step-item-detail{
    margin-left: 80px;
    padding-top: 10px;
    border-top:#666666 1px dashed;
    .header{
      font-weight: bold;
      margin-bottom: 20px;
    }
    .label{
      width: 90px;
      margin-bottom:30px;
      margin-right: 10px;
      display: inline-block;
      text-align: right;
    }
    .task{
      display: flex;
      .task-label-set{
        display: inline-block;
        width: 90px;
        height: 20px;
        margin-top: 5px;
        margin-right: 10px;
        text-align: right;
        p{
          font-size: 10px;
          color: red;
        }
      }
      .choose-task{
        margin-right: 40px;
        .chosen-task{
          display: flex;
          align-items: center;
          .task-label{
            display: inline-block;
            width: 150px;
            height: 30px;
            margin-top: 10px;
            background-color: white;
            color: black;
            border: solid 1px #C4C6CF;
            line-height: 20px;
            cursor: pointer;
            position: relative;
            &:hover{
              border-color: black;
            }
            &.chosen{
              border-color: black;
            }
            .close{
              display: inline-block;
              position: absolute;
              right: 6px;
            }
          }
        }
      }
      .chosen-task-detail{
        background-color: #ececec;
        width: 500px;
        height: 400px;
        padding-left: 30px;
        border: 1px solid #C4C6CF;
        &.hide{
          display: none;
        }
        .chosen-task-detail-title{
          font-size: 15px;
        }
        .chosen-task-detail-body{
          margin: 10px 0;
          .item{
            display: inline-block;
            width: 90px;
            text-align: left;
            margin-right: 10px;
            .must{
              color: red;
            }
          }
          .input{
            width: 250px;
            margin-left: 40px;
          }
          .textarea{
            overflow: hidden;
            .title{
              float: left;
              .must{
                color: red;
              }
            }
            .area-wrap{
              margin-left: 140px;
              .area{
                width: 250px;
              }
            }
          }

        }
      }
    }
  }
  .footer{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    bottom: 0;
    right: 0;
    .footer-container{
      width: 320px;
      margin: 0 auto;
      .button{
        display: inline-block;
        width: 100px;
        height: 30px;
        margin: 20px 30px;
      }
    }

  }
}
